<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <servlet>
        <servlet-name>hellohttpservlet</servlet-name>
        <servlet-class>JavaWeb.servlet.HelloHttpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>hellohttpservlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>loginservlet</servlet-name>
        <servlet-class>JavaWeb.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginservlet</servlet-name>
        <!-- 设置路径时，不需要加项目名字 -->
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
</web-app>