<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--创建各种对象-->
    <!--创建数据访问层的对象-->
    <bean id="uMapper" class="xia.xiao.dao.UserMapperImpl"></bean>

    <!--创建业务逻辑层的对象-->
    <bean id="uService" class="xia.xiao.service.impl.UserServiceImpl">
        <property name="userMapper" ref="uMapper"></property>
    </bean>

    <!--创建界面层的对象-->
    <bean id="uController" class="xia.xiao.controller.UserController">
        <property name="userService" ref="uService"></property>
    </bean>
</beans>